.inner-article.selected {
  background: white;
}

@mixin tableRowAnimation {
  tbody .pre tr {
    transition: all ease .2s;
  }
}

tbody .pla tr {
  @include tableRowAnimation;
}

tbody tr:hover {
  color:$white;
  transition: all ease .5s;
}

.email:focus {
  border:1px solid $grey;
  background: $falseblack;
  transition : all ease .5s;
}

.submit, .btn.btn-default {
  &:hover {
    border: 1px solid transparent;
    background: #cccccc;
    color: #222222;
    transition:all ease .3s;
  }
  &:focus {
    background: #222222;
    color: $white;
    transition:all ease .3s;
  }
}

/* Modal bootstrap */
.close:hover, .close:focus {
  color: rgb(255,255,255);
  text-shadow: 0 1px 0 $falseblack;
}
