$img_path : '../img/';
$font-path: "../fonts/";

$free: rgb(166, 240, 34);
$pre: rgb(6, 210, 240);
$pla: rgb(255, 40, 6);
$grey: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
$falseblack : rgb(25,25,25);

$hard : rgb(255,000,000);
$medium : rgb(255,125,000);
$soft : rgb(000,255,80);

$vSpace: 1.5rem auto;
