html {
  font-family: 'cabin', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

h1 {
  font-size : 4rem;
  text-align : center;
  margin-bottom : 15px;
  font-family : "cabinB", arial, helvetica, sans-serif;
  text-shadow : 0 1px 1px $falseblack;
}

h2 {
  font-size: 3rem;
  margin:30px auto;
  font-family : "cabinSB", arial, helvetica, sans-serif;
  text-shadow: 0 0 20px $white;
}

h3 {
  font-size: 2rem;
}

p {
  font-size :1.8rem;
  line-height : 2.3rem;
}

ul {
  padding-left:0;
}

li {
  @extend p;
  list-style-type: none;
}

table {
  @extend p;
}

.bgGrey {
  background: $grey;
}

.grey {
  color:$grey;
}

.bgSoft {
  background: $soft;
}

.soft {
  color:$soft;
}

.bgMedium {
  background: $medium;
}

.medium {
  color:$medium;
}

.bgHard {
  background: $hard;
}

.hard {
  color:$hard;
}

.bgwhite {
  background: $white;
}

.white {
  color:$white;
}

.modal-body {
  background: #222;
}

.modal-header,.modal-footer {
  background: $falseblack;
  color:$white;
}

.modal-header {
  border-bottom:none;
}

.modal-footer {
  margin-top:0;
  border-top:none;
}